
ul{
    list-style: none;
    
}li{
    list-style: none;

}


.slider{
    margin: 0px;
    padding: 0px;
    min-height:1050px;
    
}
.slider .board1 {
    margin: auto;
    margin-top: 4%;
    width: 1165px;
    height: 500px;
    border: 2px solid black;
}

.board1 .knockBtnGroupSW1 button {
    background :none;
     outline: none;
    border: none; 
    width: 70px;
    height: 40px;
    margin-top: 75px;
    margin-left: 180px;
    
}


.board1 .knockBtnGroupSW2 button {
    background :none;
    outline: none;
    border: none; 
    width: 70px;
    height: 40px;
    margin-top: 60px;
    margin-left: 180px;
    
}
.board1 .knockBtnGroupSW3 button {
    position: relative;
    background :none;
    outline: none;
    border: none; 
    width: 70px;
    height: 40px;
    margin-top: px;
    margin-left: 180px;
    
}
.board1 .knockBtnGroupSW2 ul {
    position: relative;
    margin-left: 89%;
}
