
ul{
    list-style: none;
    
}li{
    list-style: none;

}
.slider{
    margin: 0px;
    padding: 0px;
    min-height:1050px;
    
}
.slider .board1 {
    margin: auto;
    margin-top: 4%;
    width: 785px;
    height: 495px;
    border: 2px solid black;
}

.board1 .knockBtnGroup button {
    background :none;
    outline: none;
    border: none; 
    width: 70px;
    height: 40px;
    margin-top: 120px;
    margin-left: 160px;
    
}

.board1 .list-Pin ul {
    position: relative;
    margin-left: 30%;
    margin-top: 63px
}

.board1 .list-Pin ul li {
    position: relative;
    padding-left: 20px;
    
}
.board1 .list-Pin2 ul {
    position: relative;
    margin-left: 35.5%;
    margin-top: 58px
}
.board1 .list-Pin2 ul li {
    padding-left: 20px;
    position: relative;
    
}

