*{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
    
}
html{
    font-family: 'Roboto', sans-serif;
   
}

#header{
    position: relative;
    padding  : 0;
    margin  : 0;
    background-color : #708090;
    height: 46px;
   
 
}
#nav{
    display : inline-block;
}

#nav li { 
    
    display : inline-block; 
    position: relative;
    background-color: none;
}
#nav > li > a{
    text-transform: uppercase; 
    padding : 0 24px;
}
#nav li a{
    text-decoration: none; 
    color : rgb(24, 22, 22);
    line-height: 46px;
    font-size: 15px; /* size chu lab*/
    display : inline-block; 
}
#nav > li:hover > a{
    background-color : #ccc;
    color : #000;
}

#nav .subnav li a{ 
    width: 100%;
    padding : 0 12px;
    line-height: 38px;
    color : #000;
    background-color : #fff;
}
#nav .subnav li { 
    min-width: 82px;
    width: 100%;
    z-index: 1;
}
#nav .nav-icon-down{
    position: absolute;
    top  : 16px;
    left: 85%;
    font-size: 13px;
    color: rgb(22, 21, 21);
}


#nav .subnav {
    list-style: none;
    position: absolute;
    background-color : #999;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: none;
}
#nav .subnav li:hover a{
    background-color : #ccc;
    color : #000;
}
#nav li:hover .subnav {
    display :block;
    color : #000 ;
} 

/* #header .search-btn {
    float : right;
    width :40px;
    height : 46px;
    padding : 0 21px;

}
#header .search-btn:hover{
    background-color : #f44336;
    cursor: pointer;
}
#header .search-icon{
    font-size : 15px;
    line-height: 46px;
    color  : #fff;
    
} */

#slider{
    
    background-color : rgb(255, 250, 250);
}
#header .nav-logout{
   
    float : right;
    font-size: 15px;
    color : #0e0d0d;  
    text-decoration: none;
    line-height: 45px;
    padding: 0 31px;
}

#header .college{
    float : left;
    font-size: 15px;
    color : #0f0f0f;  
    text-decoration: none;
    line-height: 50px;
    
}

#header .ctu{
    float: left;
    font-size: 15px;
    color : #0f0f0f;  
    text-decoration: none;
    line-height: 50px;
    padding: 0;
    
}
#webcam {
    position: absolute;
    right: 5px;
    top: 112px;
    width: 275px;
    height: 270px;
   
}

/* #videoElement {
    position: absolute;
    width: 275px;
    height: 270px;
    
} */
#main .NoteCamera{
    position: absolute;
    top: 70px;
    right: 95px;
    font-size: 25px;
}





