
ul{
    list-style: none;
    
}li{
    list-style: none;

}
button{

    background :none;
    outline: none;
    border: none; 
}


.slider{
    margin: 0px;
    padding: 0px;
    min-height:1050px;
    
}
.slider .board1 {
    margin: auto;
    margin-top: 4%;
    width: 1005px;
    height: 482px;
    border: 2px solid black;
}

.board1 .knockBtnGroupSW1 #knockBtn {
  
    width: 70px;
    height: 40px;
    margin-top: 60px;
    margin-left: 160px;
    
}
.board1 ul {
    position: relative;
    height: 80px;
    margin-left:54.5%;
    margin-top: 3%;
 
}
.board1 .knockBtnGroupSW2  button {
    margin-left: 200px;
    margin-top: 20px;
}
.board1 .knockBtnGroupSW3 button {
    margin-left: 200px;
    margin-top: 95px;
    transform: rotateX(180deg);

}
.board1 #voltage{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 290px;
    margin-top: 100px;
    color: red;
   
}

