
ul{
    list-style: none;
    
}li{
    list-style: none;

}


.slider{
    margin: 0px;
    padding: 0px;
    min-height:1050px;
    
}
.slider .board1 {
    margin: auto;
    margin-top: 4%;
    width: 1078px;
    height: 684px;
    border: 2px solid black;
}

.board1 .knockBtnGroupSW1 button {
    background :none;
     outline: none;
    border: none; 
    width: 70px;
    height: 40px;
    margin-top: 130px;
    margin-left: 230px;
    
}


.board1 .knockBtnGroupSW2 button {
    background :none;
    outline: none;
    border: none; 
    width: 70px;
    height: 40px;
    margin-top: 40px;
    margin-left: 230px;
    
}
.board1 .knockBtnGroupSW3 button {
    position: relative;
    background :none;
    outline: none;
    border: none; 
    width: 70px;
    height: 40px;
    margin-top: 30px;
    margin-left: 230px;
    
}
.board1 .knockBtnGroupSW4 button {
    position: relative;
    background :none;
    outline: none;
    border: none; 
    width: 70px;
    height: 40px;
    margin-top: 50px;
    margin-left: 230px;
    
}
.board1 .knockBtnGroupSW1 ul {
    position: relative;
    margin-left: 85%;
    background :none;
    outline: none;
   border: none; 
   width: 70px;
   height: 40px;
   margin-top: 5px;
}
