
ul{
    list-style: none;
    
}li{
    list-style: none;

}
button{  
    background :none;
    outline: none;
    border: none; }


.slider{
    margin: 0px;
    padding: 0px;
    min-height:1050px;

}
.slider .board1 {
    margin: auto;
    margin-top: 4%;
    width: 1005px;
    height: 577px;
    border: 2px solid black;
}
/*
IC1
*/
/* ADN */
.board1 .knockBtnGroupSW1 button {
  
    margin-top: 70px;
    margin-left: 140px; 
    
    
}
/* SW2 */
.board1 .DIV-A ul #knockBtn2 { 

    width: 40px;
    margin-left: 140px;
    
}

.board1 .DIV-A ul .L1 { /*led 1*/
    margin-left: 200px;
    
}
/*
IC3
*/
/*OR*/
.board1 a.knockBtnGroupSW3 button {/*SW3*/
    position: absolute;
    margin-top: 60px;
    margin-left: 450px;

    
}

.board1 .DIV-A ul #knockBtn4 {/*SW4*/
 
    width: 40px;
    margin-left: 220px;
    
}

.board1 .DIV-A ul .L2 { /*led 2*/
    
    margin-top: 10px;
    margin-left: 200px;
    
}
/*
IC2
*/
/* NAND */
.board1 .knockBtnGroupSW5 button {/* SW5 */
  
    margin-top: 160px;
    margin-left: 140px;
    
    
}

.board1 .DIV-B ul #knockBtn6 { /* SW6 */
  
    width: 40px;
    margin-left: 140px;
    
}

.board1 .DIV-B ul .L3 { /*led 3*/
   
    margin-left: 200px;
    
}

/*
IC4
*/
/*NOR*/
.board1 .knockBtnGroupSW7 img {/*SW7*/
    
    margin-top: 60px;
    margin-left: 450px;

    
}

.board1 .DIV-B ul #knockBtn8 {/*SW8*/
    
    width: 40px;
    margin-left: 220px;
    
}

.board1 .DIV-B ul .L4 { /*led 4*/
   
    margin-top: 10px;
    margin-left: 200px;
    
}