
ul{
    list-style: none;
    
}li{
    list-style: none;

}


.slider{
    margin: 0px;
    padding: 0px;
    min-height:1050px;

}
.slider .board1 {
    margin: auto;
    margin-top: 4%;
    width: 1058px;
    height: 507px;
    border: 2px solid black;
}

.board1 .knockBtnGroupSW1 button {
    background :none;
     outline: none;
    border: none; 
    width: 70px;
    height: 40px;
    margin-top: 40px;
    margin-left: 160px;
    
}

.board1 .knockBtnGroupSW2 button {
    background :none;
    outline: none;
    border: none; 
    width: 60px;
    height: 30px;
    margin-top: 20px;
    margin-left: 160px;
    
}

.board1 .knockBtnGroupSW1 ul {
    position: relative;
    background :none;
    outline: none;
   border: none; 
   width: 70px;
   height: 40px;
   margin-top: 100px;
   margin-left: 900px;
}
